<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>IMS</title> 
  <link rel="stylesheet" href="/static/stylesheet.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- nav bar starts-->

  <nav class="navbar">
    <ul class="nav-links">
      <li class="dropdown">
        <a href="/">IMS</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" id="plans-dropdown-toggle">Plans</a>
        <div id="plans-dropdown" class="dropdown-content">
          <a href="/home">Home</a>
          <a href="/auto">Auto</a>
          <a href="/health">Health</a>
          <a href="/travel">Travel</a>
        </div>
      </li>
      
      <li class="dropdown">
        <a href="/ticket">Ticket</a>
      </li>
      <li class="dropdown" style="margin-left: 750px;">
        <a href="/login">Login</a>
      </li>
      <li class="dropdown" style="margin-left: 0;">
        <a href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/policies" style="margin-left: 0;">
          <img src="static\images\admin.png" alt="Admin" style="width: 30px; height: 30px;">
        </a>
      </li>
    </ul>
  </nav >
  <!-- nav bar ends-->
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
              <img src="static\images\bike.png" width =" 300px" height = "200px" class="round-image" alt="Image">
              <p class="title">Bike Insurance</p>
            </div>
            <div class="flip-card-back">
              <p>
                <ul>
                  <li> The maximum amount will be paid by insurer in case of total loss or theft.</li>
                  <li> Includes third-party liability and covers damages to your own bike.</li>
                  <li>Additional coverages beyond basic policy like zero depreciation, roadside assistance, accessories coverage.</li>
                  <li> BIKE INSURANCE PREMIUM:</li> <li>INR 600-3000</li>
                </ul> 
              </p>
        </div>
    </div>
</div>
</div>
<a class="fancy" href="/auto_policy">
  <span class="top-key"></span>
  <span class="text">GET IT NOW</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a>
</div>
<div class="col-md-4 mb-4">
  <div class="text-center">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        <img src="static\images\car.jpg" width =" 300px" height = "200px" class="round-image" alt="Image">
        <p class="title">Car Insurance</p>
      </div>
      <div class="flip-card-back">
        <p>
          <ul>
            <li> The maximum amount will be paid by insurer in case of total loss or theft.</li>
                  <li> Includes third-party liability and covers damages to your own car.</li>
                  <li>Additional coverages beyond basic policy like zero depreciation, roadside assistance, accessories coverage.</li>
                  <li> CAR INSURANCE PREMIUM:</li> <li>INR 5000-8000</li>
          </ul> 
        </p>
  </div>
</div>
</div>
</div>
<a class="fancy" href="/auto_policy">
  <span class="top-key"></span>
  <span class="text">GET IT NOW</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a>
</div>
<div class="col-md-4 mb-4">
  <div class="text-center">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        <img src="static\images\truck.png" width =" 300px" height = "200px" class="round-image" alt="Image">
        <p class="title">Commercial Vehicle Insurance</p>
      </div>
      <div class="flip-card-back">
      <p class="title"><p>
        <ul>
          <li>Provides coverage for bodily injury or death of third parties</li>
          <li>Covers damage to your vehicle caused by a collision with another vehicle or object.</li>
          <li>Offers various add-ons like coverage for engine protection, roadside assistance, depreciation cover, and consumables cover.</li>
          <li>COMMERCIAL VEHICLE INSURANCE PREMIUM:</li><li>INR 9510(private goods carrier)</li><li>INR 17647(public goods carrier)
</li>
        </ul> 
      </p></p>
  </div>
</div>
</div>
</div>
<a class="fancy" href="/auto_policy">
  <span class="top-key"></span>
  <span class="text">GET IT NOW</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a>
</div>
  <script src="script.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
 
</body>
</html>
