<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>IMS</title> 
  <link rel="stylesheet" href="/static/stylesheet.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- nav bar starts-->

  <nav class="navbar">
    <ul class="nav-links">
      <li class="dropdown">
        <a href="/">IMS</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" id="plans-dropdown-toggle">Plans</a>
        <div id="plans-dropdown" class="dropdown-content">
          <a href="/home">Home</a>
          <a href="/auto">Auto</a>
          <a href="/health">Health</a>
          <a href="/travel">Travel</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="/ticket">Ticket</a>
      </li>
      <li class="dropdown" style="margin-left: 750px;">
        <a href="/login">Login</a>
      </li>
      <li class="dropdown" style="margin-left: 0;">
        <a href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/policies" style="margin-left: 0;">
          <img src="static\images\admin.png" alt="Admin" style="width: 30px; height: 30px;">
        </a>
      </li>
    </ul>
  </nav >
  <!-- nav bar ends-->
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
              <img src="static\images\travel1.jpg" width =" 300px" height = "200px" class="round-image" alt="Image">
              <p class="title">Single Trip Travel Insurance</p>
            </div>
            <div class="flip-card-back">
              <p>
                <ul>
                  <li>Covers a specific period, usually from the departure date until the return.</li>
                  <li> Coverage offered includes medical expenses, trip cancellation, baggage loss, and other potential risks.</li>
                  <li>Ensure it meets your needs in case of unexpected delays.</li>
                  <li> SINGLE TRIP TRAVEL INSURANCE PREMIUM:</li> <li>INR 47,549-1,9,558</li>
                </ul> 
              </p>
        </div>
    </div>
</div>
</div>
<a class="fancy" href="/travel_policy">
  <span class="top-key"></span>
  <span class="text">GET IT NOW</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a>
</div>
<div class="col-md-4 mb-4">
  <div class="text-center">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        <img src="static\images\travel2.png" width =" 300px" height = "200px" class="round-image" alt="Image">
        <p class="title">Annual Trip Travel Insurance</p>
      </div>
      <div class="flip-card-back">
        <p>
          <ul>
           <li>Annual travel Insurance covers multiple trips during the policy year.</li>
<li> Coverage types may include medical expenses, trip cancellation, baggage loss and other potential risks.
<li> Addresses the health of the insured during the policy year.</li>
<li> ANNUAL TRIP TRAVEL INSURANCE PREMIUM:</li> <li>INR 2,30,560-5,20,780</li>
          </ul> 
        </p>
  </div>
</div>
</div>
</div>
<a class="fancy" href="/travel_policy">
  <span class="top-key"></span>
  <span class="text">GET IT NOW</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a>
</div>
<div class="col-md-4 mb-4">
  <div class="text-center">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        <img src="static\images\home_health.jpg" width =" 300px" height = "200px" class="round-image" alt="Image">
        <p class="title">Specialized Travel Insurance</p>
      </div>
      <div class="flip-card-back">
      <p class="title"><p>
        <ul>
         <li> Insurance tailored for senior travelers offer higher coverage limits for medical expenses and
 additional assistance services to accommodate the needs of older individuals. </li>
<li> Specifically designed for pregnant travelers, covering medical expenses related to pregnancy and potential complications.</li>
<li> Covers veterinary expenses and trip cancellations related to traveling with pets.</li>
<li> SPECIALIZED TRAVEL INSURANCE PREMIUM:</li> <li>INR 10,950-20,388</li> </p>
        </ul> 
      </p></p>
  </div>
</div>
</div>
</div>
<a class="fancy" href="/travel_policy">
  <span class="top-key"></span>
  <span class="text">GET IT NOW</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a>
</div>
<script src="static\script.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>